# Python
venv/
__pycache__/
*.pyc
*.egg-info/

# 1. Ignore the contents of data, but not the directory itself
data/**

# 2. Specifically exclude the directory from being ignored so Git can enter it
!data/
!data/**/

# 3. Now negate the tracking files so Git can see them
!data/**/*.dvc
!data/**/.gitkeep
# MLflow
mlflow.db
mlruns/

models/**
!models/*.dvc

# Environment
.env

# Models (tracked by DVC, not Git)
models/

# Jupyter notebooks checkpoints
notebooks/.ipynb_checkpoints/
notebooks/*.png

# DVC cache
.dvc/cache
.dvc/tmp

# OS
.DS_Store
*.swp