# Python
venv/
__pycache__/
*.pyc
*.egg-info/
credit_risk.egg-info/

# Data — contents tracked by DVC, not Git
data/**
!data/**/*.dvc
!data/**/.gitkeep

# Models — artifacts tracked by DVC, not Git
models/**
!models/*.dvc

# MLflow
mlflow.db
mlruns/

# Environment
.env

# Jupyter
notebooks/.ipynb_checkpoints/
notebooks/*.png

# DVC internals
.dvc/cache
.dvc/tmp

# Pytest
.pytest_cache/

# OS
.DS_Store
*.swp